.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue
}

#portfolio {
    background-color: rgb(19, 236, 193);
}

.img{
    width: 260px;
    height: 240px;
}
